<html>

<head>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/checkEmail.css" media="screen">
	<script src="js/jquery.js"></script>
	<style type="text/css">
		p{
			text-indent: 20px;
		}
	</style>
</head>

<body>
	<div id='wrapperJT'>
		<div class = 'empty-block'></div>
		<div class = 'container-fluid'>
			<div class = 'row'>
				<div class = 'col-lg-4 col-md-4 col-sm-2 col-xs-2'></div>
				<div class = 'col-lg-4 col-md-4 col-sm-8 col-xs-8'>
					<div id='contentInside'>
						<p class = 'redText'>Congratulations, you successfully registered!</p>
						<p>Please, <b>check</b> your e-mail and <b>confirm(finish)</b> your registration.</p>
						<p>The team of DailyStudent.</p>			
					</div>
				</div>
				<div class = 'col-lg-4 col-md-4 col-sm-2 col-xs-2'></div>
			</div>
		</div>
	</div>
</body>

</html>