<html>

<head>
	
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
	 <link rel="stylesheet" href="dist/chartist.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="dist/chartist.min.js"> </script>
	<script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
</head>

<body>
<div id = "mainWrapper">
	<div id="header"><p>&#171</p>
	</div>
	<div  id = 'beforeWrapper'>
		<div id = 'wrapperForSlider'>
			<div id = 'blockWrapSlider' >
				<div id='efficiency'>
					<div id='tegEfficiency'>Your efficiency</div>
					<div class="ct-chart ct-perfect-fourth"></div>
				</div>

				<div class="wrapper">
					<div id ='leftArrowSlider'>&#171</div>
					<div id = 'timeSlider'></div>
					<div id = 'statusSlider'>Status</div>
					<div id='contentSlider'>
						<ul id = 'listSlider'>
						</ul>
					</div>
					<div id ='rightArrowSlider'>&#187</div>
				</div>

				<div id = 'wheatherSide'>
						<div id="timeWheather"></div>
						<div id="dayWeek"></div>
						<img id="imgWheather" src="">
						<div id= "mainTemp"></div>
						<table id = 'addParamWeath'>
							<tr><td style="text-align: left; font-family: Georgia; font-size: 16.5px;">Humidity</td> <td style="text-align: center; " id="humidity">12</td></tr>
							<tr><td style="text-align: left; font-family: Georgia; font-size: 16.5px;">Wind</td> <td style="text-align: center" id='wind'>12</td></tr>
						</table>
				</div>
			</div>
		</div>

	</div>	

	<div id="showHideBut">
		<div id="animButSH">show/hide</div>
	</div>

	<div id="main_content">
		<ul id='mainUL'>
		
		</ul>
	</div>

	<div id="Add_task">
			<div  id="add_button">Add new task</div>
	</div>

</div>

<div id="footer">
	<div id= "wrapperFotter">
		<div id="maintContFot">
			<ul>
				<li>
					<div id = "imgDiv">
						<img src="sfs.png">
					</div>
				</li>

				<li>
					<div id="comFoot">
						<a href="joinTeam"><p>Join to our team</p></a>
					</div>
				</li>

				<li>
					<div id="aboutUs">
						<a href="joinTeam"><p>About us</p></a>
					</div>
				</li>

				<li>
					<div id="amountUser"> 
						<a href="/"><p>Us already <b>12</b> -  join to the fans planning time</p></a>
					</div>
				</li>

				<li>
					<div id="ourPartners">
						<p>Our partners</p>
					</div>
				</li>


				<li>
					<div id = "contFooter">
						<p>feedback:  todoforstudent@ukr.net</p>
					</div>
				</li>
			</ul>
				
		</div>
	</div>
</div>

<script type="text/javascript">

//$( window ).load(function() {

	/*--- click on header(show slideMenu)---*/

	/* if user clicked more then 1 time - prohibit moving upper main menu*/
	var counterHeader = 0;

	/*--- click on header arrow---*/
	$('#header').click(function(){
		firstSlideDown();

		/*if header menu is none - display*/
		if( ($('#beforeWrapper').css('display')) == 'block' && ($('#main_content').css('display') == 'block') && counterHeader == 0 )
		{
			animateMainContent('+');
			counterHeader++;
		}
	});
	
	/*--- button show/hide---*/ 
	$('#animButSH').click(function(){
		/*--- check if header menu is block ---*/
		if( ($('#beforeWrapper').css('display')) == 'block' && ($('#main_content').css('display') == 'block') )
		{

			secondSlideDown();
		}
		else
		{
			if ( $('#beforeWrapper').css('display') == 'block') 
			{
				animateMainContent('-');
			}
			else
			{
				animateMainContent('+');
			}

			$('#beforeWrapper').slideToggle('slow');
			$('#wheatherSide').slideToggle('slow');
			$('#main_content').slideToggle('slow');
			$('#Add_task').slideToggle('slow');

			/* allow moving upper main menu*/
			counterHeader = 0;
		} 
	});

	/*--- help functions for main animates (#header) and (#animButSH) ---*/
	function firstSlideDown(){
		$('#beforeWrapper').slideDown('slow');
		$('#wheatherSide').slideDown('slow');
	}
	function secondSlideDown(){
		$('#main_content').slideToggle('slow');
		$('#Add_task').slideToggle('slow');
	}
	function animateMainContent(token){
		$('#showHideBut').animate({"top":  token + "=260px"}, "slow");
		$('#main_content').animate({"top": token + "=260px"}, "fast");
		$('#Add_task').animate({"top": token + "=260px"}, "fast");
	}
	/*--- end help functions ---*/

	var OBJDATA = new Date();

	var mainpage = function(token, callback){

		var localDate = newDate || OBJDATA;
		var token = token || "+"; 

		var dmyList = '' + localDate.getDate() + '-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear();
		$('#timeSlider').html(dmyList);

		var dayTodo = {
			dmy: dmyList,
			token: token
		};

		$.ajax({
            url: '/tasks/mainList',
            type: 'GET',
            data: dayTodo,
            success: function(answer){
 		        $('#mainUL').html(answer.mainContent);
 		        $('#statusSlider').html(answer.statusDay);

 		   		if(callback)
 		   		{
 		   			callback(answer);
 		   		}
 		   		else
 		   		{
 		   			$('#listSlider').html(answer.shortContent);
 		   			$('#mainUL').html(answer.mainContent);
 		   		}
            }
		});
	}

	var wheather = function(){

		$('#timeWheather').html(''+ OBJDATA.getDate() + '-' + ( OBJDATA.getMonth() + 1 ) + '-' + OBJDATA.getFullYear());

		var objWheather = {
			city: 'Lviv'
		};
		$.ajax({
            url: '/header/wheather',
            type: 'GET',
            data: objWheather,
            success: function(answer){
            	console.log(answer.icon);
            	$('#dayWeek').html(["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturady"][OBJDATA.getDay()]);
            	$('#imgWheather').attr('src', 'iconWeather/' + answer.icon + '.gif');
            	$('#mainTemp').html(answer.temperature);
            	$('#wind').html(answer.wind + " m/s");
 		        $('#humidity').html(answer.listWheather.main.humidity + " %");
            }
		});
	}

	function efficiency(){

		var dmyToday = '' + OBJDATA.getDate() + '-' + ( OBJDATA.getMonth() + 1 ) + '-' + OBJDATA.getFullYear();
		var obj = {
			dmy: dmyToday
		}
		$.ajax({
            url: '/header/efficiency',
            type: 'GET',
            data: obj,
            success: function(answer){

            		var VisX = [];
            		VisX[0] = answer.x[0];
            		for(var i = 1; i < answer.localLength - 2; i++)
            		{
            			VisX[i] = '';
            		}
            		VisX.push(answer.x[1]);

            	 	var data = {
  						labels: VisX,
						series: [answer.y]
					};

					var options = {
						// Don't draw the line chart points
  						axisY: {
    						offset: 60,

							labelInterpolationFnc: function(value) {
      							return '' + value + "%";
    						}
    					}
					}

					new Chartist.Line('.ct-chart', data, options);
            }
        });
	}

	 $('#main_content').each(function(){
		mainpage();
		wheather();
		efficiency();

	});

	$('#add_button').click(function(){
		
		$('#mainUL').append("<div class = 'wrapperLI' style='display: none;'> <li class='liTodo' onmouseover = 'evMOverList(this);' onmouseout = 'evMOutList(this);' ><div class='TaskContent'><div class = 'helpDivTC' onclick='clickList(this);'> <div class='textContent'>New Tasks</div><div class='time1'>HH:mm</div> <div class='time2'>HH:mm</div><div class='priority'>B</div> </div> <div class='delete' onclick= 'deleteTask(this);'> delete</div>  <div onclick ='doneTask(this);' class='done'>done</div> <div class = 'arrowForNextDay' onclick = 'taskOnTomorrow(this);'>&#187</div> </div> <div class = 'popUpGRUD'  onclick = 'checkTime1(this);'> <div class = 'popInput'> <input class='tastInput'>time <input class = 'time1Pop' >to<input class = 'time2Pop'  >priority<select class = 'newPriority'><option>A</option><option>B</option><option>C</option></select> <div class = 'editAdd' style = 'top: -22px;' onclick= 'editADD(this)'>add</div></div></div> </li> </div>");
		$('.wrapperLI').last().show('fast');
	});
 
		var editADD = function(event, method, next){

			var localDate = newDate || OBJDATA;
			var $eventPoint = $(event).closest("li");
			console.log($(event).closest("li"));
			var typeReqAjax = '';
			var previousDate = ''; 
			if(!method || !next)
			{
				if ($eventPoint.find('.editAdd').html() === 'add')
				{
					typeReqAjax = 'POST';
				}
				else
				{
					typeReqAjax = 'PUT';
				}
			}
			else
			{
				previousDate = localDate.getDate() + '-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear() + "";
				localDate.setDate(localDate.getDate() + 1);
				typeReqAjax = method;
				iter = 1;
			}

			var obj = {
				pTask : $eventPoint.find('.textContent').html(),
				nTask: $eventPoint.find('.tastInput').val() || $eventPoint.find('.textContent').html( ),
				nTime1: $eventPoint.find('.time1Pop').val() || $eventPoint.find('.time1').html(),
				nTime2: $eventPoint.find('.time2Pop').val() || $eventPoint.find('.time2').html(),
				priority: $eventPoint.find('.newPriority option:selected').text() || $eventPoint.find('.priority').html(),
				dmy :  localDate.getDate() + '-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear() + "",
				previousDate: previousDate
			};

			 $.ajax({
	            url: '/tasks/editAdd',
	            type: typeReqAjax,
	            data: obj,
	            success: function(answer){           
	            	$('#mainUL').empty();
		            $('#mainUL').html(answer.mainContent);
		            if(previousDate)
		            {
		            	localDate.setDate(localDate.getDate() - 1);
		            }
	            }
	        });
		}

		var deleteTask = function(event){
			
			var localDate = newDate || OBJDATA;
			var $eventPoint = $(event).closest("li");

			var obj = {
					pTask : $eventPoint.find('.textContent').html(),
					dmy : "" + localDate.getDate() +'-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear()
				};

			$eventPoint.slideToggle("slow", function(){

				 $.ajax({
		            url: '/tasks/delete',
		            type: 'DELETE',
		            data: obj,
		            success: function(answer){
		            	console.log(answer);
		            	$('#mainUL').empty();
		            	$('#mainUL').html(answer.mainContent);
		            }
		        });
			});		
		}

		var doneTask = function(event){
			
			var localDate = newDate || OBJDATA;
			var $eventPoint = $(event).closest("li");

			var obj = {
					pTask : $eventPoint.find('.textContent').html(),
					dmy : "" + localDate.getDate() +'-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear()
				};
			
				 $.ajax({
		            url: '/tasks/donetask',
		            type: 'PUT',
		            data: obj,
		            success: function(answer){
		            	console.log(answer);
		            	$('#mainUL').empty();
		            	$('#mainUL').html(answer.mainContent);
		            }
		        });
		}



	var clickList = function(event){

		 var $eventPoint = $(event).closest("li");
		$eventPoint.find('.tastInput').val( $eventPoint.find('.textContent').html() );
		$eventPoint.find('.time1Pop').val( $eventPoint.find('.time1').html() );
		$eventPoint.find('.time2Pop').val( $eventPoint.find('.time2').html() );
		console.log($(event).attr('class'));

			if ($eventPoint.find('.popUpGRUD').css('display') == 'none')
			{
				$eventPoint.find('.popUpGRUD').show("fast");
			}
			else
			{
				$eventPoint.find('.popUpGRUD').hide(300);	
			}
	}
	
	var counterData = 0; 
	var newDate;

	/*---Arrows - this is rigth arrows ---*/
	$('#rightArrowSlider').click(function(){

		++counterData;
		newDate = new Date(OBJDATA.getFullYear(), OBJDATA.getMonth(), OBJDATA.getDate() + counterData);

		actionArrow('+');
		
	});
	/*--- this is left arrows ---*/
	$('#leftArrowSlider').click(function(){

		--counterData;
		newDate = new Date(OBJDATA.getFullYear(), OBJDATA.getMonth(), OBJDATA.getDate() + counterData);

		actionArrow('-');
	});

	/*--- help function for right and left arrows---*/
		function actionArrow(token){
			$('#mainUL').slideToggle("slow", function(){
				mainpage(token, function(content){
					$('#mainUL').html(content.mainContent);
					$('#mainUL').slideToggle('slow');
				});
			});

			$('#listSlider').slideToggle("slow", function(){
				mainpage(token, function(content){
					$('#listSlider').html(content.shortContent);
					$('#listSlider').slideToggle('slow');
				});
			});
		}


	function checkTime1(event){
		$eventPoint = $(event).closest('li');
		var objClass = ['.time1Pop', '.time2Pop'];

		objClass.forEach(function(item, i, arr){
			var locObj = {
				locStrTime : $eventPoint.find(item).val(),
				resultRegExp: $eventPoint.find(item).val().match(/^\d{2}:\d{2}$/)
			};

			if(locObj.locStrTime === 'HH:mm' || locObj.resultRegExp != null)
			{
				console.log($eventPoint.find(item).css('borderTopColor'));
				if($eventPoint.find(item).css('borderTopColor') == 'rgb(255, 255, 255)')
				{
					console.log(1);
				}
				else
				{
					console.log(2);
					$eventPoint.find(item).css({'border-color': 'white'});
				}
			}
			else
			{
				console.log(3);
				$eventPoint.find(item).css({'border-color': 'red', 'border-width': '1px'});
			}
		});		
	}

	/*function which check the actual task in this time*/
	setInterval(checkActualTask, 5000);

	 function checkActualTask(){
	 	
			$('.liTodo').each(function(){
					$time1 = $(this).find('.time1').html().split(':');
					$time2 = $(this).find('.time2').html().split(':');
					var dataForCheck = new Date();
					//console.log($time1[1] <= dataForCheck.getMinutes());
					if( ($time1[0] <= dataForCheck.getHours()) /*&& ($time1[1] <= dataForCheck.getMinutes()) */)
					{

						if( $time2[0] > dataForCheck.getHours() || ( ($time2[0] == dataForCheck.getHours()) && ($time2[1] > dataForCheck.getMinutes()) ) )
						{
							//return $(this);
							$(this).find('.TaskContent').css('background-color', '#3C4670');
							$(this).find('.popUpGRUD').css('background-color', '#3C4670');
						}
					}

				});
		}

		/*--- help function---*/

		function evMOverList(event){
			$(event).find('.arrowForNextDay').css('display', 'block');
		}

		function evMOutList(event){
			$(event).find('.arrowForNextDay').css('display', 'none');
		}

		function taskOnTomorrow(event){
			var $eventPoint = $(event).closest('li');
			$(event).animate({"left": "+=200px", opacity: "hide"  }, "slow", function(){
				$(event).closest('li').hide(500, function(){
					editADD(event, 'POST', 1);
				});
				
			});
		}
//});

</script>

</body>
</html>