<html>

<head>
	
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
	 <link rel="stylesheet" href="dist/chartist.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="dist/chartist.min.js"> </script>
	<script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
</head>

<body>
<div id = "mainWrapper">
	<div id="header"><p>&#171</p>
	</div>
	<div  id = 'beforeWrapper'>
		<div id = 'wrapperForSlider'>
			<div id = 'blockWrapSlider' >
				<div id='efficiency'>
					<div id='tegEfficiency'>Your efficiency</div>
					<div class="ct-chart ct-perfect-fourth"></div>
				</div>

				<div class="wrapper">
					<div id ='leftArrowSlider'>&#171</div>
					<div id = 'timeSlider'></div>
					<div id = 'statusSlider'>Status</div>
					<div id='contentSlider'>
						<ul id = 'listSlider'>
						</ul>
					</div>
					<div id ='rightArrowSlider'>&#187</div>
				</div>

				<div id = 'wheatherSide'>
						<div id = 'mainTimeWeather'>
							<div class = 'leftArrowWeather'><img src="img/leftArrow.png" onclick = 'leftArrowDate()'></div>
							<div id="timeWheather"></div>
							<div class = 'rightArrowWeather'><img src="img/rightArrow.png" onclick = 'rightArrowDate()'></div>
						</div>
						<div id="dayWeek"></div>
						<div id = 'clockWeather'>
							<div class = 'leftArrowWeather'><img src="img/leftArrow.png" onclick = 'leftArrowClock()'></div>
							<p id = 'clockWeather_p'>09:00</p>
							<div class = 'rightArrowWeather'><img src="img/rightArrow.png" onclick = 'rightArrowClock()'></div>
						</div>
						<img id="imgWheather" >
						<div id= "mainTemp"></div>
						<table id = 'addParamWeath'>
							<tr><td style="text-align: left; font-family: Georgia; font-size: 16.5px;">Humidity</td> <td style="text-align: center; " id="humidity">12</td></tr>
							<tr><td style="text-align: left; font-family: Georgia; font-size: 16.5px;">Wind</td> <td style="text-align: center" id='wind'>12</td></tr>
						</table>
				</div>
			</div>
		</div>

	</div>	

	<div id="showHideBut">
		<div id="animButSH"><img src="img/couple-arrows.png"></div>
	</div>


	<div id = 'contentNew'>
		<div id = 'conNbeforeBlock'>
			<div id = 'wrapperContentNew'>
				<div class = 'contentNewDirectly'>
					<ul>
						<li class = 'liPartNews' id = 'Studway'>
							<div class = 'titleContentNew'>
								<a href = "http://studway.com.ua/"><img height = '23'  src="http://s1.studway.com.ua/wp-content/uploads/2016/04/studway-mini-e1460851662648.png"></a>
								<a href = "http://studway.com.ua/"><p class ='logoContentNew'>Studway</p></a>
								<div class = 'listStudwayOpportunity' >
									<ul>
										<li class = 'subNewsStudway'  >News</li>
										<li class = 'subNewsStudway' >Inside</li>
										<li class = 'subNewsStudway' >Lifehack</li>
										<li class = 'subNewsStudway' >Tests</li>
										<li class = 'subNewsStudway' >Journey</li>
										<li class = 'subNewsStudway' >Blogs</li>
									</ul>
								</div>
							</div>

							<div class = 'afterTitleContentNew '>
								<div class = 'leftArrowContent' onclick = 'leftClickStudway(this)' >&#171</div>
								<div class = 'contentBetweenArrows Studway'>
								</div>
								<div class = 'rightArrowContent' onclick = 'rightClickStudway(this)'>&#187</div>
							</div>
						</li>
						<li class = 'liPartNews' id = 'NULP'>
							<div class = 'titleContentNew'>
								<a href='http://www.lp.edu.ua/'><img height = '23'  src="img/NULP2.png"></a>
								<a href='http://www.lp.edu.ua/'><p class ='logoContentNew'>НУ "ЛП"</p></a>
									<div class = 'listStudwayOpportunity'>
									<ul>
										<li class = 'subNewsNULP' >Students</li>
										<li class = 'subNewsNULP' >Graduares</li>
										<li class = 'subNewsNULP' >Employees</li>
										<li class = 'subNewsNULP' style="width:160px"><a href = 'http://www.lp.edu.ua/rozklad-dlya-studentiv'> Schedule for students</a></li>
										<li class = 'subNewsNULP' style="width:170px"><a href = 'http://www.lp.edu.ua/rozklad-dlya-vykladachiv'>Schedule for employees</a></li>
									</ul>
								</div>
							</div>

							<div class = 'afterTitleContentNew'>
								<div class = 'leftArrowContent' onclick = 'leftClickStudway(this)'>&#171</div>
								<div class = 'contentBetweenArrows NULP'>Content</div>
								<div class = 'rightArrowContent' onclick = 'rightClickStudway(this)'>&#187</div>
							</div>
						</li>

						<li class = 'liPartNews' id = 'Terytorija'>
							<div class = 'titleContentNew'>
								<a href = 'http://terytoriya.com.ua/'><img height = '23'  src="http://terytoriya.com.ua/wp-content/uploads/2015/12/logos.png"></a>
								<a href = 'http://terytoriya.com.ua/'><p class ='logoContentNew'>Територія твого розвитку</p></a>
								<div class = 'listStudwayOpportunity' >
									<ul>
										<li class = 'subNewsTerytorija' >Reach</li>
										<li class = 'subNewsTerytorija' >Travel</li>
										<li class = 'subNewsTerytorija' >Visit</li>
										<li class = 'subNewsTerytorija' >Listen</li>
									</ul>
								</div>
							</div>

							<div class = 'afterTitleContentNew '>
								<div class = 'leftArrowContent' onclick = 'leftClickStudway(this)' >&#171</div>
								<div class = 'contentBetweenArrows Terytorija'>
								</div>
								<div class = 'rightArrowContent' onclick = 'rightClickStudway(this)'>&#187</div>
							</div>
						</li>

						<li class = 'liPartNews' id = 'Zaxid'>
							<div class = 'titleContentNew'>
								<a href = 'http://zaxid.net/'><img height = '23'  src="http://zaxid.net/images/logo.png?1413825604"></a>
								<!--<p class ='logoContentNew'>Zaxid.net</p>-->
								<div class = 'listStudwayOpportunity' >
									<ul>
										<li class = 'subNewsZaxid' style = 'margin-left: 5px;'>Lviv</li>
										<li class = 'subNewsZaxid' >Society</li>
										<li class = 'subNewsZaxid' >Economy</li>
										<li class = 'subNewsZaxid' >IQ</li>
										<li class = 'subNewsZaxid' >World</li>
									</ul>
								</div>
							</div>

							<div class = 'afterTitleContentNew '>
								<div class = 'leftArrowContent' onclick = 'leftClickStudway(this)' >&#171</div>
								<div class = 'contentBetweenArrows Zaxid'>
								</div>
								<div class = 'rightArrowContent' onclick = 'rightClickStudway(this)'>&#187</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>


	<div id="main_content">
		<ul id='mainUL'>
		
		</ul>
	</div>

	<div id="Add_task">
			<div  id="add_button">Add new task</div>
	</div>

</div>

<div id="footer">
	<div id= "wrapperFotter">
		<div id="maintContFot">
			<ul>
				<li>
					<div id = "imgDiv">
						<img src="sfs.png">
					</div>
				</li>

				<li>
					<div id="comFoot">
						<a href="joinTeam"><p>Join to our team</p></a>
					</div>
				</li>

				<li>
					<div id="aboutUs">
						<a href="joinTeam"><p>About us</p></a>
					</div>
				</li>

				<li>
					<div id="amountUser"> 
						<a href="/" id = 'numberUsers' ><p id = 'numberUsers'></p></a>
					</div>
				</li>

				<li>
					<div id="ourPartners">
						<p>Our partners</p>
					</div>
				</li>


				<li>
					<div id = "contFooter">
						<p>feedback:  todoforstudent@ukr.net</p>
					</div>
				</li>
				<li>
					<div id='imgLogout'>
						<a href="/logout"><p>exit</p><!--<img src="exit.png">--></a>
					</div>
				</li>
			</ul>
				
		</div>
	</div>
</div>

<script type="text/javascript">

//$( window ).load(function() {


	/****************************************/
	/*--- click on header(show slideMenu)---*/

	/* if user clicked more then 1 time - prohibit moving upper main menu*/
	var counterHeader = 0;

	/*--- click on header arrow---*/
	$('#header').click(function(){
		firstSlideDown();

		/*if header menu is none - display*/
		if( ($('#beforeWrapper').css('display')) == 'block' && ($('#main_content').css('display') == 'block') && counterHeader == 0 )
		{
			animateMainContent('+');
			counterHeader++;
		}
	});
	
	/*--- button show/hide---*/ 
	$('#animButSH').click(function(){
		/*--- check if header menu is block ---*/
		if( ($('#beforeWrapper').css('display')) == 'block' && ($('#main_content').css('display') == 'block') )
		{

			secondSlideDown();
		}
		else
		{
			if ( $('#beforeWrapper').css('display') == 'block') 
			{
				animateMainContent('-');
			}
			else
			{
				animateMainContent('+');
			}
			$('#contentNew').slideToggle('fast', function(){
				$('#main_content').slideToggle('slow');
				$('#Add_task').slideToggle('slow');
			});

			$('#beforeWrapper').slideToggle('slow');
			//$('#wheatherSide').slideToggle('slow');
			

			/* allow moving upper main menu*/
			counterHeader = 0;
		} 
	});

	/*--- help functions for main animates (#header) and (#animButSH) ---*/
	function firstSlideDown(){
		$('#beforeWrapper').slideDown('slow');
		//$('#wheatherSide').slideDown('slow');
	}
	function secondSlideDown(){
		$('#main_content').slideToggle('slow', function(){
			$('#contentNew').slideToggle('slow');
		});
		$('#Add_task').slideToggle('slow');
		
	}
	function animateMainContent(token){
		$('#showHideBut').animate({"top":  token + "=260px"}, "slow");
		$('#main_content').animate({"top": token + "=260px"}, "fast");
		$('#Add_task').animate({"top": token + "=260px"}, "fast");
	}
	/*--- end help functions ---*/
	/****************************************/



	var OBJDATA = new Date();

	var mainpage = function(token, callback){

		var localDate = newDate || OBJDATA;
		var token = token || "+"; 

		var dmyList = '' + localDate.getDate() + '-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear();
		$('#timeSlider').html(dmyList);

		var dayTodo = {
			dmy: dmyList,
			token: token
		};

		$.ajax({
            url: '/tasks/mainList',
            type: 'GET',
            data: dayTodo,
            success: function(answer){
 		        $('#mainUL').html(answer.mainContent);
 		        $('#statusSlider').html(answer.statusDay);

 		   		if(callback)
 		   		{
 		   			callback(answer);
 		   		}
 		   		else
 		   		{
 		   			$('#listSlider').html(answer.shortContent);
 		   			$('#mainUL').html(answer.mainContent);
 		   		}
            }
		});
	}

	var COUNTER_ARROW_WHEATHER_CLOCK = 0;
	var COUNTER_ARROW_WHEATHER_DATE = 0;
	var DATE_FOR_WEATHER = new Date();
	var wheather = function(){

		/*$('#timeWheather').html(''+ DATE_FOR_WEATHER.getDate() + '-' + ( DATE_FOR_WEATHER.getMonth() + 1 ) + '-' + DATE_FOR_WEATHER.getFullYear());*/

		var objWheather = {
			timeWheather: DATE_FOR_WEATHER.getFullYear() + '-' + ('0' + (DATE_FOR_WEATHER.getMonth() + 1 )).slice(-2) + '-' + ('0' + DATE_FOR_WEATHER.getDate()).slice(-2),
			countHourWheather: COUNTER_ARROW_WHEATHER_CLOCK,
			countDateWheatre: COUNTER_ARROW_WHEATHER_DATE
		};

		
      		$("#dayWeek").fadeToggle("fast");
      		$('#imgWheather').fadeToggle("fast");
        	$('#mainTemp').fadeToggle("fast");
        	$('#wind').fadeToggle("fast");
	        $('#humidity').fadeToggle("fast");
	        $('#clockWeather_p').fadeToggle("fast");
	        $('#timeWheather').fadeToggle("fast");
	        $('#addParamWeath').fadeToggle("fast");



		$.ajax({
            url: '/header/wheather',
            type: 'GET',
            data: objWheather,
            success: function(answer){
            	if(typeof answer == 'object')
            	{
	            	$('#dayWeek').html(["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturady"][DATE_FOR_WEATHER.getDay()]);
	            	$('#imgWheather').attr('src', 'iconWeather/' + answer.icon + '.gif');
	            	$('#mainTemp').html(answer.temperature);
	            	$('#wind').html(answer.wind + " m/s");
	 		        $('#humidity').html(answer.listWheather.main.humidity + " %");
	 		        $('#clockWeather_p').html(answer.timeClock);
	 		        $('#timeWheather').html(answer.timeDate);


	 		        $("#dayWeek").fadeToggle("fast");
			  		$('#imgWheather').fadeToggle("fast");
			    	$('#mainTemp').fadeToggle("fast");
			    	$('#wind').fadeToggle("fast");
			        $('#humidity').fadeToggle("fast");
			        $('#clockWeather_p').fadeToggle("fast");
			        $('#timeWheather').fadeToggle("fast");
			        $('#addParamWeath').fadeToggle("fast");
 		    	}
 		    	else
 		    	{
 		    		$('#dayWeek').empty();
 		    		$('#imgWheather').empty();
 		    		$('#addParamWeath').empty();
 		    		$('#imgWheather').empty();
 		    		$('#mainTemp').css({
 		    			'font-size': '18px'
 		    		});
 		    		$('#mainTemp').html(answer);
 		    	}
            }
		});
	}

	function leftArrowDate() {
		COUNTER_ARROW_WHEATHER_DATE--;
		COUNTER_ARROW_WHEATHER_CLOCK = 0;
		DATE_FOR_WEATHER.setDate(DATE_FOR_WEATHER.getDate() - 1);
		wheather();
	}

	function rightArrowDate() {
		COUNTER_ARROW_WHEATHER_DATE++;
		COUNTER_ARROW_WHEATHER_CLOCK = 0;
		DATE_FOR_WEATHER.setDate(DATE_FOR_WEATHER.getDate() + 1);
		wheather();
	}

	function leftArrowClock() {
		COUNTER_ARROW_WHEATHER_CLOCK--;
		wheather();
	}

	function rightArrowClock() {
		COUNTER_ARROW_WHEATHER_CLOCK++;
		wheather();
	}

	function efficiency(){

		var dmyToday = '' + OBJDATA.getDate() + '-' + ( OBJDATA.getMonth() + 1 ) + '-' + OBJDATA.getFullYear();
		var obj = {
			dmy: dmyToday
		}
		$.ajax({
            url: '/header/efficiency',
            type: 'GET',
            data: obj,
            success: function(answer){

            		var VisX = [];
            		VisX[0] = answer.x[0];
            		for(var i = 1; i < answer.localLength - 2; i++)
            		{
            			VisX[i] = '';
            		}
            		VisX.push(answer.x[1]);

            	 	var data = {
  						labels: VisX,
						series: [answer.y]
					};

					var options = {
						// Don't draw the line chart points
  						axisY: {
    						offset: 60,

							labelInterpolationFnc: function(value) {
      							return '' + value + "%";
    						}
    					}
					}

					new Chartist.Line('.ct-chart', data, options);
            }
        });
	}

	function getNumberUser(){
		$.ajax({
            url: '/numberUsers',
            type: 'GET',
            success: function(answer){
            	console.log(answer);
            	$('#numberUsers').html('Us already <b>' + answer + '</b> join to the fans planning time');
            }
        });
	}


	function ConstrGetNews(url, doman ,id, subNews) {
		this.url = url;
		this.doman = doman;
		this.idName = id;
		this.counter = 0;
		this.subNews = subNews || false;
		this.rightClick = function() {
			this.counter++;
			this.getNews();
		};
		this.leftCLick = function() {
			this.counter--;
			this.getNews();

		};
		this.getNews = function() {
			$(this.idName).fadeToggle("fast");
			
			if (this.subNews) {
				var obj = {
					subNewStud : this.subNews,
					counter: this.counter,
					doman: this.doman
				};
			} 
			else {
				var obj = {
					subNewStud : "News",
					counter: this.counter,
					doman: this.doman
				};
			}
		var that = this;
		 $.ajax({
            url: this.url,
            type: 'GET',
            data: obj,
            success: function(answer){ 
            	console.log(answer);
            	$(that.idName).empty();
            	$(that.idName).html(answer);
            	$(that.idName).fadeToggle("fast");
            }
	     });
		}

	}



	var objStudWay = new ConstrGetNews('/getNewsStudway', 'http://studway.com.ua','.Studway', 'News'); 
	var objNULP = new ConstrGetNews('/getNewsNULP','http://www.lp.edu.ua' ,'.NULP', 'NewsNulp');
	var objTerytorija = new ConstrGetNews('/getNewsTerytorija', 'http://terytoriya.com.ua','.Terytorija', 'NewsTerytorija');
	var objZaxid = new ConstrGetNews('/getNewsZaxid', 'http://zaxid.net', '.Zaxid', 'NewsZaxid');

	var objId = {
		'Studway' : objStudWay,
		'NULP' : objNULP,
		'Terytorija': objTerytorija,
		'Zaxid': objZaxid
	};

	//var COUNTER_NEWS_STUDWAY = 0;

	function rightClickStudway(event){
		objId[$(event).closest('li').attr('id')].rightClick();
	}

	function leftClickStudway(event){
	if ( objId[$(event).closest('li').attr('id')].counter != 0 )
		objId[$(event).closest('li').attr('id')].leftCLick();
	}

	var SUB_NEWS_STUDWAY = '';


	$('.subNewsStudway').click(function(event){
	
		objStudWay.subNews = $(event.target).html();
		objStudWay.counter = 0;
		objStudWay.getNews();

	});


	//subNewsNULP

	$('.subNewsNULP').click(function(event){
		
		objNULP.subNews = $(event.target).html();
		objNULP.counter = 0;
		objNULP.getNews();

	});


		$('.subNewsTerytorija').click(function(event){

		objTerytorija.subNews = $(event.target).html();
		objTerytorija.counter = 0;
		objTerytorija.getNews();

	});


		$('.subNewsZaxid').click(function(event){
		
		objZaxid.subNews = $(event.target).html();
		objZaxid.counter = 0;
		objZaxid.getNews();

	});

	 $('#main_content').each(function(){
		mainpage();
		wheather();
		efficiency();
		getNumberUser();
		//getNewsStudway();
		objStudWay.getNews();
		objNULP.getNews();
		objTerytorija.getNews();
		objZaxid.getNews();

	});

	$('#add_button').click(function(){
		
		$('#mainUL').append("<div class = 'wrapperLI' style='display: none;'> <li class='liTodo' onmouseover = 'evMOverList(this);' onmouseout = 'evMOutList(this);' ><div class='TaskContent'><div class = 'helpDivTC' onclick='clickList(this);'> <div class='textContent'>New Tasks</div><div class='time1'>HH:mm</div> <div class='time2'>HH:mm</div><div class='priority'>B</div> </div> <div class='delete' onclick= 'deleteTask(this);'> delete</div>  <div onclick ='doneTask(this);' class='done'>done</div> <div class = 'arrowForNextDay' onclick = 'taskOnTomorrow(this);'>&#187</div> </div> <div class = 'popUpGRUD'  onclick = 'checkTime1(this);'> <div class = 'popInput'> <input class='tastInput'>time <input class = 'time1Pop' >to<input class = 'time2Pop'  >priority<select class = 'newPriority'><option>A</option><option>B</option><option>C</option></select> <div class = 'editAdd' style = 'top: -22px;' onclick= 'editADD(this)'>add</div></div></div> </li> </div>");
		$('.wrapperLI').last().show('fast');
	});
 
		var editADD = function(event, method, next){

			var localDate = newDate || OBJDATA;
			var $eventPoint = $(event).closest("li");
			console.log($(event).closest("li"));
			var typeReqAjax = '';
			var previousDate = ''; 
			if(!method || !next)
			{
				if ($eventPoint.find('.editAdd').html() === 'add')
				{
					typeReqAjax = 'POST';
				}
				else
				{
					typeReqAjax = 'PUT';
				}
			}
			else
			{
				previousDate = localDate.getDate() + '-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear() + "";
				localDate.setDate(localDate.getDate() + 1);
				typeReqAjax = method;
				iter = 1;
			}

			var obj = {
				pTask : $eventPoint.find('.textContent').html(),
				nTask: $eventPoint.find('.tastInput').val() || $eventPoint.find('.textContent').html( ),
				nTime1: $eventPoint.find('.time1Pop').val() || $eventPoint.find('.time1').html(),
				nTime2: $eventPoint.find('.time2Pop').val() || $eventPoint.find('.time2').html(),
				priority: $eventPoint.find('.newPriority option:selected').text() || $eventPoint.find('.priority').html(),
				dmy :  localDate.getDate() + '-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear() + "",
				previousDate: previousDate
			};

			 $.ajax({
	            url: '/tasks/editAdd',
	            type: typeReqAjax,
	            data: obj,
	            success: function(answer){           
	            	$('#mainUL').empty();
		            $('#mainUL').html(answer.mainContent);
		            if(previousDate)
		            {
		            	localDate.setDate(localDate.getDate() - 1);
		            }
	            }
	        });
		}

		var deleteTask = function(event){
			
			var localDate = newDate || OBJDATA;
			var $eventPoint = $(event).closest("li");

			var obj = {
					pTask : $eventPoint.find('.textContent').html(),
					dmy : "" + localDate.getDate() +'-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear()
				};

			$eventPoint.slideToggle("slow", function(){

				 $.ajax({
		            url: '/tasks/delete',
		            type: 'DELETE',
		            data: obj,
		            success: function(answer){
		            	console.log(answer);
		            	$('#mainUL').empty();
		            	$('#mainUL').html(answer.mainContent);
		            }
		        });
			});		
		}

		var doneTask = function(event){
			
			var localDate = newDate || OBJDATA;
			var $eventPoint = $(event).closest("li");

			var obj = {
					pTask : $eventPoint.find('.textContent').html(),
					dmy : "" + localDate.getDate() +'-' + ( localDate.getMonth() + 1 ) + '-' + localDate.getFullYear()
				};
			
				 $.ajax({
		            url: '/tasks/donetask',
		            type: 'PUT',
		            data: obj,
		            success: function(answer){
		            	console.log(answer);
		            	$('#mainUL').empty();
		            	$('#mainUL').html(answer.mainContent);
		            }
		        });
		}



	var clickList = function(event){

		 var $eventPoint = $(event).closest("li");
		$eventPoint.find('.tastInput').val( $eventPoint.find('.textContent').html() );
		$eventPoint.find('.time1Pop').val( $eventPoint.find('.time1').html() );
		$eventPoint.find('.time2Pop').val( $eventPoint.find('.time2').html() );
		console.log($(event).attr('class'));

			if ($eventPoint.find('.popUpGRUD').css('display') == 'none')
			{
				$eventPoint.find('.popUpGRUD').show("fast");
			}
			else
			{
				$eventPoint.find('.popUpGRUD').hide(300);	
			}
	}
	
	var counterData = 0; 
	var newDate;

	/*---Arrows - this is rigth arrows ---*/
	$('#rightArrowSlider').click(function(){

		++counterData;
		newDate = new Date(OBJDATA.getFullYear(), OBJDATA.getMonth(), OBJDATA.getDate() + counterData);

		actionArrow('+');
		
	});
	/*--- this is left arrows ---*/
	$('#leftArrowSlider').click(function(){

		--counterData;
		newDate = new Date(OBJDATA.getFullYear(), OBJDATA.getMonth(), OBJDATA.getDate() + counterData);

		actionArrow('-');
	});

	/*--- help function for right and left arrows---*/
		function actionArrow(token){
			$('#mainUL').slideToggle("slow", function(){
				mainpage(token, function(content){
					$('#mainUL').html(content.mainContent);
					$('#mainUL').slideToggle('slow');
				});
			});

			$('#listSlider').slideToggle("slow", function(){
				mainpage(token, function(content){
					$('#listSlider').html(content.shortContent);
					$('#listSlider').slideToggle('slow');
				});
			});
		}


	function checkTime1(event){
		$eventPoint = $(event).closest('li');
		var objClass = ['.time1Pop', '.time2Pop'];

		objClass.forEach(function(item, i, arr){
			var locObj = {
				locStrTime : $eventPoint.find(item).val(),
				resultRegExp: $eventPoint.find(item).val().match(/^\d{2}:\d{2}$/)
			};

			if(locObj.locStrTime === 'HH:mm' || locObj.resultRegExp != null)
			{
				if($eventPoint.find(item).css('borderTopColor') == 'rgb(255, 255, 255)')
				{
				}
				else
				{
					$eventPoint.find(item).css({'border-color': 'white'});
				}
			}
			else
			{
				console.log(3);
				$eventPoint.find(item).css({'border-color': 'red', 'border-width': '1px'});
			}
		});		
	}

	/*function which check the actual task in this time*/
	setInterval(checkActualTask, 5000);

	 function checkActualTask(){
	 	
			$('.liTodo').each(function(){
					$time1 = $(this).find('.time1').html().split(':');
					$time2 = $(this).find('.time2').html().split(':');
					var dataForCheck = new Date();
					//console.log($time1[1] <= dataForCheck.getMinutes());
					if( ($time1[0] <= dataForCheck.getHours()) /*&& ($time1[1] <= dataForCheck.getMinutes()) */)
					{

						if( $time2[0] > dataForCheck.getHours() || ( ($time2[0] == dataForCheck.getHours()) && ($time2[1] > dataForCheck.getMinutes()) ) )
						{
							//return $(this);
							$(this).find('.TaskContent').css('background-color', '#3C4670');
							$(this).find('.popUpGRUD').css('background-color', '#3C4670');
						}
					}

				});
		}

		/*--- help function---*/

		function evMOverList(event){
			$(event).find('.arrowForNextDay').css('display', 'block');
		}

		function evMOutList(event){
			$(event).find('.arrowForNextDay').css('display', 'none');
		}

		function taskOnTomorrow(event){
			var $eventPoint = $(event).closest('li');
			$(event).animate({"left": "+=200px", opacity: "hide"  }, "slow", function(){
				$(event).closest('li').hide(500, function(){
					editADD(event, 'POST', 1);
				});
				
			});
		}
//});

</script>

</body>
</html>