<html>

<head>
	<link rel="stylesheet" type="text/css" href="styleForRegistration.css" media="screen">
	<style type="text/css">
		p{
			text-indent: 20px;
		}
	</style>
</head>

<body>
	<div id='wrapperJT'>
		<div id="helpDiv">
			<div id='MainContent'>
				<div id='contentInside'>
					<p>We are <b>young team </b>and our main purpose is developing software for students. </p> 
					<br>
					<p>Firstly, we think that <b>ukrainian students </b> are great driving force and we have own area of responsibility. That's why we established that our team must develop a set of software which help ukrainian students become successfull.</p> <p>Secondly, we glad to see everybody who wants to help us. Any ideas, any thoughts we welcome.</p> 
					<p>When you have own idea, you have softskills and desire work - congratulation - it's perfect place for you.</p> 
					<br>
					<p>Any ideas and thoughts or if you want to become a part of our team - send your letter on this e-mail: <b>todoforstudent@ukr.net</b> </p>
					<br>
					<p>Best regards - team of SoftForStudent.</p>
					<div id='toMainPage'>
						<p id = 'arrow'>&#171</p>
						<div id='textToMP'>
							<a href='/'><p>To main page</p><a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>