* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/*body {
	/*background-image: url(http://habrastorage.org/files/996/d76/d04/996d76d0410d422fa54cc433ce7ead2a.png);*/
	/*background-color: #234062;
}*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #234062;
}

input {
	margin: 0px 4px 0px 2px;
}
 a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
   a {
     color: #234062;; /* Цвет ссылок */
   }
   a:visited {
     color: #234062;; /* Цвет посещенных ссылок */
   }
   a:active {
     color: #234062;; /* Цвет активных ссылок */
   }
input[type='button'], select{
	cursor: pointer;
}
#mainWrapper{
	min-height: 100%;
    margin-bottom: 60px;
}
* html #mainWrapper {
    height: 100%;

}
#header{
position: relative;
height: 33px;
background-color: #687D95;
cursor: pointer;
}
.containerForArrowHeader  {
width: 24px;
padding-top: 4%;
padding-left: 46%;
}

@media screen and (max-width: 991px) {
	.containerForArrowHeader {
		padding-left: 46%;
	}
}

.containerForArrowHeader img{
cursor: pointer;
}

/*#header p{
color: #234062;
}

#header p:hover{
color: #355F98;
}*/

#imgHeader{
width: 17px;
height: 17px;
position: relative;
top: 0px;
left: 40px;
}
/*---  Slider ---*/
#beforeWrapper{
background-color: #687D95;
height: 255px;
}

/* graph efficiency*/
#tegEfficiency{
margin: 0 auto;
width: 120px;
font-family:  "PT Sans", sans-serif;
font-weight: bold;

}
#efficiency{
padding: 0;
padding-top: 7.5px;
 /*width: 100%;
 /*height: 100%;*/
}

@media screen and (max-width: 1199px) {
	#efficiency {
		padding-top: 25px;
	}
}

.ct-chart {
padding: 0;
display: inline-block;
vertical-align: middle;
}

.ct-label {
font-size: 1rem !important;
}

.wrapper {
height: 250px;

border-radius: 5px;
background-color: #687D95;
}

#leftArrowSlider{
height: 100%;
width: 7%;

border-right: solid;
border-color: #687D95;
border-width: 3px;

font-size: 30px;
text-align: center;

padding-top: 105px;
background-color: #466892;
color: #B3BBCD;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
float: left;

/*Градиент*/
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

}
#leftArrowSlider:hover{
cursor: pointer;
margin-top: 0px;  
/*Тень*/
/*-webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);*/
/*Градиент*/
background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#timeSlider{
width: 86%;
height: 30px;

float: left;
color: black;
font-weight: bolder;

border-top-left-radius: 3px;
border-top-right-radius: 3px;

text-align: center;
display: table-cell; 
vertical-align: middle;
background-color: #B3BBCD;
cursor: pointer;
}

#statusSlider{
width: 86%;
height: 28px;
float: left;
color: black;
font-weight: bolder;
font-family:  Time New Roman;
/*font-size: 16px;*/
/*border-right: solid;
border-left: solid;
border-color: black;*/
border-width: 1px;
background-color: #B3BBCD;

text-align: center;
padding: 2px 0px 1px 0px;
}
#contentSlider{
height: 193px;
width: 86%;
color: black;

background-color: #B3BBCD;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
float: left;
}

.liSliderContent {
height: 20px;
overflow: hidden;
text-overflow: ellipsis;
}

.liSliderTime{
font-family: Time New Roman;
font-size: 14px;
font-weight: bold;
float: left;
padding: 0;
text-align: center;
}

.LiSliderStatus{
position: relative;
font-family: Georgia;
font-size: 14px;
}

#listSlider{
height: 100%;
width: 100%;

}

.lisSlider{
padding: 10px 0px 10px 5px;
font-size: 14px;
}

#listSlider li{
width:100%;
height: 38.8px;
font-family: Georgia;
/* border-bottom: solid;
border-color: red;
border-width: 1px;*/
}

#rightArrowSlider{
height: 100%;
width: 7%;

float: right;
margin-top: -59px;
border-left: solid;
border-color: #687D95;
border-width: 3px;

font-size: 30px;
padding-top: 105px;
text-align: center;

color: #B3BBCD;
background-color: #466892;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
/*Тень*/
/*-webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);*/

/*Градиент*/
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

}
#rightArrowSlider:hover{
	cursor: pointer;
	/*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);*/
/*Градиент*/
background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

}

@media screen and (max-width: 991px) {
	#rightArrowSlider{
		width: 6%;
	}
	#leftArrowSlider{
		width: 6%;
	}
	#statusSlider{
		width: 88%;
	}
	#timeSlider {
		width: 88%;
	}
	#contentSlider{
		width: 88%;
	}
}




/*--- Wheather ---*/
#wheatherSide{

height: 250px;

border-radius: 5px;
/*border: solid;
border-color: black;
border-width: 1px;*/

background-color: #B3BBCD;
}

#mainTimeWeather {
	height: 21px;
}

.leftArrowWeather {
float: left;
padding: 2.5px 0 0 0px;
cursor: pointer;
}

.rightArrowWeather{
float: right;
padding: 2.5px 0px 0 0;
cursor: pointer;
}
#timeWheather{
float: left;
height: 20px;
text-align: center;
padding-left: 10%;
font-size: 18px;
}
#dayWeek{
clear: right;
width: 100%;
height: 40px;
text-align: center;
/*margin-top: 7px;*/
padding-top: 3px;
font-size: 25px;
font-family: Georgia;
}
#clockWeather {
/*clear: right;*/
height: 22px;
}

@media screen and (max-width: 1370px) {
    #imgWheather {
       margin-left: -30%;
    }
}

@media  screen and (max-width: 991px)  {

	#mainTemp {
		font-size: 10px;
	}
	#efficiency {
		display: none;
	}

	#wheatherSide {
		display: none;

	}
}

.subMenuForSmallSevices {
}

#clockWeather p {
float: left;
text-align: center;
font-size: 18px;
}

#addParamWeath{
	margin: 10px 7px 10px 10px;
}
#addParamWeath td{
	padding: 5px 0px 5px 0px;
	font-size: 14px;
}
#mainTemp{
font-size: 25px;
text-align: center;
}

/*--- button show/hide---*/
#showHideBut{
height: 20px;
margin: 15px auto 0;
text-align: center;
}

#animButSH{
background-color: #9DB2CB;
width: 120px;
height: 30px;
margin-left: 18%;
border-radius: 4px;
font-family:  Georgia;
font-size: 15px;
}
#animButSH:hover{
background-color: #B3BBCD;	
cursor: pointer;
text-align: center;
}

@media screen and (max-width: 991px) {
	#animButSH{
		margin-left: 10%;
	} 
}

@media screen and (max-width: 767px) {
	#animButSH{
		width: 90px;
		margin-left: 0;
	} 
}

#animButSH img {
margin-top:3px;
margin-left: -2px;
}

/*--- TODO list---*/ 

#main_content{
height: auto;
margin: 30px auto 0;
position: relative;
display: none;
}

.liTodo{
}
.TaskContent{
height:  90px;

border: solid;
border-color: black;
border-width: 1px;

font-size: 15px;

background-color: #687D95;
}
.TaskContent:hover{
cursor: pointer;
background-color: #687D95;
color: black;
}
.helpDivTC{
height:  90px;
}
.textContent{
overflow: hidden;
text-overflow: ellipsis;
position: relative;
top: 10px;
left: 7px;
margin: 0px 0px 0px 0px;

height: 60px;
font-family: Georgia;
color: white;
float: left;
}

.popUpGRUD{

height: 35px;
border: solid;
border-color: black;
border-width: 1px;
background-color: #687D95;
font-size: 15px;
display: none;
}
.popInput{
	padding: 7px 2px 3px 2px;
}

li {
list-style-type: none; 
}
.mainTasksTime {
	padding: 0;
	text-align: center;
}
.time1{
height: 20px;
margin-top: 20px;
color: white;
font-weight: bold;
font-family: Time New Roman;
}

.time2{
height: 20px;

color: white;
font-weight: bold;
font-family: Time New Roman;
}

.mainTasksPriority {
padding: 0;
text-align: center;
}

.priority{

height: 50px;
margin-top:32px;
color: white;
font-weight: bold;
}

.done{
margin-top:13px;
text-align: center;
background-color: #9DB2CB;
height: 25px;
border-radius: 4px;
font-family:  Georgia;
}
.done:hover{
background-color: #234062;
color: 	#687D95;
}
.delete{
text-align: center;
margin-top:15px;
background-color: #9DB2CB;
height: 25px;
border-radius: 4px;
font-family:  Georgia;
}
.delete:hover{
background-color: #234062;	
color: 	#687D95;
}

.tastInput{
height: 20px;
margin: -1px 10px 0px 0px;
width: 100%;
}

.time1Pop{

}
.time1Pop, .time2Pop{
width: 28%;
font-size: 12px;
}
.time2Pop{

}

.textPopMenu {
font-size: 13px;
padding-top:1px; 
}

.editAdd{
text-align: center;
background-color: #9DB2CB;
height: 25px;
border-radius: 4px;
font-family:  Georgia;
margin-top: -3px;

}
.editAdd:hover{
background-color: #234062;
color: 	#687D95;
cursor: pointer;
}

.newPriority{
	font-size: 12px;
}

.arrowForNextDay{

cursor: pointer;
display: none;

height: 30px;
width: 30px;
padding: 17px 0px 40px 5px;
font-size: 35px;
font-weight: bolder;
color: #687D95;
}


#Add_task{
height: auto;
margin-left: 18%;
display: none;
}

#add_button{
background-color: #9DB2CB;
width: 120px;
height: 30px;
padding: 4px 2px 2px 17px;
border-radius: 4px;
font-family:  Georgia;
}

#add_button:hover{
background-color: #B3BBCD;	
cursor: pointer;
}

@media screen and (max-width: 991px) {
	#Add_task{
		margin-left: 10%;
	} 
}

@media screen and (max-width: 767px) {
	#Add_task{
		margin-left: 0;
	}
	#add_button{
		width: 90px;
		font-size: 12px;
		padding: 7px 2px 2px 6px;
	} 
}


@media screen and (max-width: 991px) {
	.arrowForNextDay {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.textContent {
		top: 18px;
		font-size: 12px;
		padding: 0;
	}

	.mainTasksTime {
		font-size: 12px;
	}
	.priority {
		font-size: 11px;
	}

	.textPopMenu {
		font-size: 0px;

	}

	.time1Pop, .time2Pop{
		width: 38%;
		font-size: 11px;
	}
	.tastInput {
		font-size: 12px;
	}

	.delete, .editAdd, .done {
		padding-top: 4px;
		font-size: 12px;
	}
}


/*** Main Content NEW --- START ****/


#contentNew{
margin-top: 30px;
left: 0;
bottom: 0;
}

#conNbeforeBlock{
position: relative;
top: 50%;
left: 50%;
margin: -12px 0 0 -550px;
width: 1100px;
}

#wrapperContentNew {
margin: 0 auto;
width: inherit;
}

.contentNewDirectly {
padding: 15px 15px 15px 15px;
background-color: #B3BBCD;
border-radius: 5px;
}

.contentNewDirectly  li.liPartNews{
width: 100%;
height: auto;
/*border: 1px solid red;*/
background-color: #B3BBCD;
}

.titleContentNew {
height: 30px;
/*border: 1px solid green;*/
background-color: #687D95;
border-radius: 5px;
}

.titleContentNew img {
margin-top:3px;
margin-left: 3px;
float: left;
}
.titleContentNew p {
padding-top: 4px;
width: 70px;
float: left;
margin: 0;
margin-left: 5px;
color: black;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: bold;
}

.afterTitleContentNew {

}
.afterTitleContentNew .container-fluid {
padding: 0;
}

.listStudwayOpportunity {
height: 20px;
}

.listStudwayOpportunity li {
font-weight: bold;
cursor: pointer;
border-radius: 3px;
height: 25px;
margin-top: 2px;
padding-top: 2px;
}
.listStudwayOpportunity li:hover {
background-color: #7990AD;
}

#Terytorija .titleContentNew p.logoContentNew {
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
width: 200px;
}

.listStudwayOpportunity li.subNewsStudway {
width: 11%;
float: left;
text-align: center;
}

@media screen and (max-width: 991px) {
	.listStudwayOpportunity li.subNewsStudway {
		font-size: 12px;
		padding-top: 4px;
		margin-top: 3px;
	}

	.listStudwayOpportunity li.subNewsNULP {
		margin-top: 3px;
		padding-top: 4px;
	}

	.listStudwayOpportunity li.subNewsTerytorija {
		margin-top: 3px;
		padding-top: 4px;
		font-size: 12px;
	}
	.listStudwayOpportunity li.subNewsZaxid {
		margin-top: 3px;
		padding-top: 4px;
		font-size: 12px;
	}
	
}

@media screen and (max-width: 767px) {
	.listStudwayOpportunity li.subNewsNULP {
		font-size: 11px;
	}

	.listStudwayOpportunity li.subNewsNULP:nth-last-child(1){
		font-size: 10px;
	}

	.listStudwayOpportunity li.subNewsNULP:nth-last-child(2){
		font-size: 10px;
	}

}

.listStudwayOpportunity li.subNewsNULP {
width: 11%;
float: left;
text-align: center;

}



.listStudwayOpportunity li.subNewsNULP a {
color: black;
}

.listStudwayOpportunity li.subNewsTerytorija {
width: 10%;
float: left;
text-align: center;
/*margin-top: 4.5px;*/
}

.listStudwayOpportunity li.subNewsZaxid {
width: 10%;
float: left;
text-align: center;
/*margin-top: 4.5px;*/
}



.leftArrowContent {
height: 218px;
width: 4.5%;
float: left;
border-radius: 5px 0 0 5px;
font-size: 30px;
text-align: center;
padding-top: 8%;
background-color: #466892;
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.leftArrowContent:hover{
cursor: pointer;
/*Градиент*/
background-color: #234062;
background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}




.container-studway {
	height: 220px;
	width: 500px;
}

.contentBetweenArrows {
height: auto;
width: 91%;
border-bottom: 1px solid #687D95;
float: left;
padding: 0 2% 0 2%;
}
.contentBetweenArrows .col-lg-3 {
	padding: 0;
}

article.imgText{
/*height: 215px;*/
float: left;
padding: 5% 0 0% 6%;
}

.imgText img {
	background-size: auto;
}

h3, h4, h5 {
color: black;
}
.title-text p {
color: black;
font-size: 14.5px;
font-weight: bold;
}

@media  screen and (max-width: 1199px) {
	.title-text p {
		font-size: 13.4px;
	}
}

@media  screen and (max-width: 991px) {
	.title-text p {
		font-size: 12px;
	}
}

@media  screen and (max-width: 768px) {
	.title-text p {
		font-size: 10px;
	}
}

.title-onlyText p {
color: black;
font-size: 13px;
font-weight: bold;
}

@media screen and (max-width: 1199px) {
	.title-onlyText p {
		font-size: 12px;
	}
}

@media screen and (max-width: 991px) {
	.title-onlyText p {
		font-size: 11px;
	}
	.subNewsNULP {
		font-size: 12px;
	}
}

@media screen and (max-width: 767px) {
	.title-onlyText p {
		font-size: 10px;
	}
}

article.onlyText {
height: 107px;
float: left;
padding: 14px 0px 7px 13px;
}
.rightArrowContent {
height: 218px;
width: 4.5%;
float: right;
font-size: 30px;
text-align: center;
padding-top: 8%;
/*border: 1px solid white;*/

border-radius: 0 5px 5px 0;
background-color: #466892;
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
/*** Main Content NEW --- FINISH ****/
.rightArrowContent:hover {
cursor: pointer;
background-color: #234062;
background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}


@media screen and (max-width: 991px) {
	.exceptionArrow {
		padding-top: 9%;
	}	
}
@media screen and (max-width: 767px) {
	.exceptionArrow {
		padding-top: 13%;
	}	
}



footer{
height: 61px;

background-color: #B3BBCD;
}

footer ul {
width: 100%;
margin:0 auto;
}

footer ul li:first-child {
	margin-left: 0%;
}




footer ul li{
float: left;
margin-left: 7.5%;
margin-top: 2%;
}

@media screen and (min-width:1200px) and (max-width: 1262px) {
	footer ul li{
		margin-left: 6%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	footer ul li{
		margin-left: 4.2%;
	}
} 


@media screen and (min-width: 768px) and (max-width: 991px) {
	footer ul li{
		margin-left: 4.5%;
		font-size: 12px;
	}
} 

@media screen and (min-width: 768px) and (max-width: 935px) {
	footer ul li{
		margin-left: 9%;
		font-size: 14px;
	}
} 

@media screen and (max-width: 767px) {
	footer ul li{
		margin-left: 3.5%;
		font-size: 9px;
	}
} 


footer p {
font-size: 11.5px;

}


#imgDiv{
margin-top: -3.2%;
}

#comFoot{
color: #234062;
}

#aboutUs{
color: #234062;

}

#amountUser{
color: #234062;


}

#socialNet{

}

.fb-share-button{

}

#ourPartners{
color: #234062;

}

#contFooter{
color: #234062;
font-size: 14px;

}

#imgUser{

}
#imgLogout{

}
#imgLogout img{

}


















