* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}

body{
background-image: url(../background.png);
}
 p {
    /*text-indent: 20px; /* Отступ первой строки в пикселах */
    line-height: 1.5em;
    font-family: Georgia;
   }
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
   a {
    color: black; /* Цвет ссылок */
   }
   a:visited {
    color: black; /* Цвет посещенных ссылок */
   }
   a:active {
    color: black; /* Цвет активных ссылок */
   }
#statusAuthRegist{
	width: 250px;
	position: absolute;
	left: 170px;
	top:7px;
	display: block;
	visibility: visible;
	color: #8A0000;
	text-align: center;
}

#wrapperJT{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(52, 54, 66, 0.9);
z-index: 3;
overflow-y: auto;
cursor: pointer;
}

#helpDiv{
position: relative;
top: 15%;
left: 50%;
margin: -0px 0 0 -200px;
}

#MainContent{
height: auto;
display: block;
margin: 0 auto;
}

#contentInside{
width: 520px;
height: auto;
border-radius: 5px;
padding: 15px 15px 15px 15px;
font-family: Georgia;

/*border-style: solid;
border-width: 1px;
border-color: red;	*/
background-color: white;
}

#toMainPage{
	margin: 20px 0px 0px 165px;
	width: 150px;
	height: 50px;
	/*border-style: solid;
	border-color: red;
	border-width: 1px;*/
}
#toMainPage:hover{
background: rgba(52, 54, 66, 0.9);
}

#arrow{
width: 20px;
position: relative;
font-size: 30px;

top: 0px;
left: -8px;
}
#textToMP{
margin: -33px 0px 0px 15px;
width: 120px;
color: black;
}

