* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url(http://habrastorage.org/files/996/d76/d04/996d76d0410d422fa54cc433ce7ead2a.png);
}

input {
	margin: 0px 4px 0px 2px;
}
input[type='button'], select{
	cursor: pointer;
}
#header{
position: relative;
height: 25px;
width: auto;

border: solid;
border-width: 2px;
border-color: red;

text-align: center;
}

/*---  Slider ---*/
.wrapper {
height: 250px;
margin: 30px auto 0;
position: relative;
width: 700px;

border: solid;
border-color: red;
border-width: 1px;
}

#leftArrowSlider{
height: 100%;
width: 40px;

border-right: solid;
border-color: red;
border-width: 1px;

font-size: 30px;
padding-top: 105px;
text-align: center;
}
#leftArrowSlider:hover{
	cursor: pointer;
}

#timeSlider{
width: 619px; 
height: 30px;

position: relative;
left: 39px;
top: -250px;

border-bottom: solid;
border-color: red;
border-width: 1px;

text-align: center;
display: table-cell; 
vertical-align: middle;
}

#timeSlider{
	cursor: pointer;
}

#contentSlider{
height: 220px;
width: 621px;

position: relative;
left: 39px;
top: -251px;

/*border: solid;
border-color: red;
border-width: 1px;*/
}

#rightArrowSlider{
height: 100%;
width: 40px;

position: relative;
left: 659px;
top: -500px;

border-left: solid;
border-color: red;
border-width: 1px;

font-size: 30px;
padding-top: 105px;
text-align: center;
}
#rightArrowSlider:hover{
	cursor: pointer;
}

/*--- TODO list---*/ 

#main_content{
height: auto;
margin: 70px auto 0;
position: relative;
width: 700px;
}

.TaskContent{
width: 700px;
height:  90px;

border: solid;
border-color: red;
border-width: 2px;

font-size: 15px;
}
.TaskContent:hover{
	cursor: pointer;
}

.textContent{
position: relative;
top: 20px;
left: 10px;
margin: 0px 0px 0px 0px;
width: 350px;
height: 30px;


}


#Add_task{
height: auto;
margin: 10px auto 0;
position: relative;
width: 700px;
}

#add_button{
margin: 10px 0px 20px 300px;
position: relative;
}

.popUpGRUD{
width: 700px;
height: auto ;

border: solid;
border-color: red;
border-width: 2px;

font-size: 15px;
display: none;

}

li {
   list-style-type: none; 
}

.time1{
	position: relative;
	width: 100px;
	height: 20px;
	left: 430px;
	top: -10px;
}

.time2{
	position: relative;
	width: 100px;
	height: 20px;
	left: 430px;
	top: -10px;
}
.priority{
	position: relative;
	width: 50px;
	height: 50px;
	left: 530px;
	top: -39px;

	color: red;
}

.done{
	position: relative;
	left: 570px;
	top: -110px;
}

.delete{
	position: relative;
	left: 620px;
	top: -75px;
}


.tastInput{
	width: 350px;
	height: 20px;
	margin: 0px 10px 0px 0px;
}

.time1Pop{
	margin: 0px 7px 0px 0px;
}
.time1Pop, .time2Pop{
	width: 40px;
}
.time2Pop{
	margin: 0px 23px 0px 3px;
}
.done, .delete, .editAdd{
width: 40px;
}
.newPriority{
	margin: 0px 34px 0px 3px;
}





