* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}

body{
background-image: url(background.png);
}

#statusAuthRegist{
	width: 250px;
	position: absolute;
	left: 170px;
	top:7px;
	display: block;
	visibility: visible;
	color: #8A0000;
	text-align: center;
}
